@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

:root {
  --theme-white: #f3f3f3;
  --theme-black: #121212;
  
  --light-theme: #dcdcdc;
  --dark-theme: #303030;

}

.rtl {
    direction: rtl;
}

.ltr {
  direction: ltr;
}

@theme inline {
  --font-vazir: 'Vazir';

  --color-theme-white: var(--theme-white);
  --color-theme-black: var(--theme-black);

  
  --color-light-theme: var(--light-theme);
  --color-dark-theme: var(--dark-theme);

}


@font-face {
  font-family: 'Vazir';
  src: url('../../../src/assets/fonts/Vazir-Regular-FD.ttf');
}