@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

:root {
  --theme-white: #f3f3f3;
  --theme-black: #121212;
  
  --light-theme: #dcdcdc;
  --dark-theme: #303030;

  --remain-height: calc(100vh - 9rem)

}

.rtl {
    direction: rtl;
}

.ltr {
  direction: ltr;
}


.metro-line-bg {
  stroke: #555;
  stroke-width: 4px;
  stroke-linecap: round;
}

.metro-line-highlight {
  stroke: #00bcd4;
  stroke-width: 6px;
  stroke-linecap: round;
}

/* @keyframes dash {
  from { stroke-dashoffset: 1000; }
  to { stroke-dashoffset: 0; }
} */


.station-circle {
  fill: #999;
  stroke: #555;
  stroke-width: 2px;
  transition: all 0.3s ease;
}

.stroke-circle {
  fill: none;
  stroke: #b2b2b2;
  stroke-width: 1px;
  transition: all 0.3s ease;
}

.station-circle-highlight {
  fill: #fff;
  stroke: #00bcd4;
  stroke-width: 3px;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.station-text {
  fill: #aaa;
  font-size: 10px;
  font-weight: normal;
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
  text-anchor: start;
  font-family: 'Vazir';
}

.station-text-highlight {
  fill: #fff;
  font-size: 11px;
  font-weight: bold;
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
  text-anchor: start;
  font-family: 'Vazir';
}

@theme inline {
  --font-vazir: 'Vazir';

  --color-theme-white: var(--theme-white);
  --color-theme-black: var(--theme-black);

  
  --color-light-theme: var(--light-theme);
  --color-dark-theme: var(--dark-theme);

}


@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/vazir2.ttf');
}